Tugas2KomGeo/nbproject/private/private.properties
Tugas2KomGeo/nbproject/private/private.xml
*.properties
Tugas2KomGeo/nbproject/private/private.properties
*.xml
Tugas2KomGeo/nbproject/private/private.xml
